$purple: #2a0052;
$gray: #4b4b4b;
$light-gray: #e4e4e4;

body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div,
p,
a,
nav {
  box-sizing: border-box;
}

h1,
h2 {
  text-align: center;
}
